### 문자열

In [56]:
# ""로 감싸서 문자열 만들기
"Life is too short, you need Python."

'Life is too short, you need Python.'

In [57]:
# ''로 감싸서 문자열 만들기
'Life is too short, you need Python.'

'Life is too short, you need Python.'

In [58]:
# """ """로 감싸서 문자열 만들기
"""Life is too short, you need Python."""

'Life is too short, you need Python.'

In [59]:
# ''' '''로 감싸서 문자열 만들기
'''Life is too short, you need Python.'''

'Life is too short, you need Python.'

In [60]:
# 세개의 따옴표로 여러 줄 문자열 만들기
print('''Life is too short.
You need Python.''')

Life is too short.
You need Python.

In [61]:
# 이스케이프 코드: \' \" \\ (작은따옴표, 큰따옴표, 백슬래시)
print('He said "It\'s Python."')

He said "It's Python."

In [62]:
# 이스케이프 코드: \' \" \\ (작은따옴표, 큰따옴표, 백슬래시)
print("He said \"It's Python.\"")

He said "It's Python."

In [63]:
# 이스케이프 코드: \' \" \\ (작은따옴표, 큰따옴표, 백슬래시)
print('C:\\')

C:\

In [64]:
# 이스케이프 코드: \n (줄바꿈)
print("Life is too short,\nYou need Python.")

Life is too short,
You need Python.

In [65]:
# 이스케이프 코드: \t (탭)
print("Life is too short,\tYou need Python.")

Life is too short,	You need Python.

### 연산

In [66]:
# 문자열 더해서 연결하기
"Hello" + " World"

'Hello World'

In [67]:
# 문자열 곱해서 반복하기
"*" * 20

'********************'

In [68]:
# 문자열과 숫자가 더해지면 ?
"My age: " + 20

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 문자열 길이 구하기
len("Life is too short, You need Python.")

### 문자열 인덱싱

In [ ]:
# 변수에 문자열 담기
msg = "Hello World"
msg

In [ ]:
# 문자열 인덱싱 (indexing): 컴퓨터는 0부터 시작
# [H][e][l][l][o][ ][W][o][r][l][d]
#  0  1  2  3  4  5  6  7  8  9  10
msg[4]

In [ ]:
# 마지막 문자 인덱싱
msg[-1] # 뒤에부터 찾을 때는 -1부터 시작

In [ ]:
msg[0] + msg[1] + msg[2] + msg[3] + msg[4]

In [ ]:
# 문자열 슬라이싱 (slicing): 특정 범위의 문자들을 추출
# 시작 인덱스:포함, 끝 인덱스:불포함
msg[0:5]

In [ ]:
msg[3:7] # 인덱스 3부터 6까지

In [ ]:
msg[6:] # 끝 인덱스를 생략하면 끝까지

In [ ]:
msg[:5]  # 시작 인덱스를 생략하면 처음부터

### 포매팅

In [ ]:
# "저는 %%%%년생 입니다." 처럼 문자열 내 특정 값을 출력할 때
"저는 %d년생 입니다." % 2000

In [ ]:
# 값이 대체되길 희망하는 곳에 문자열 포맷 코드 삽입
# %s: 문자열
# %c: 문자 1개
# %d: 정수
# %f: 부동소수
# %o: 8진수
# %x: 16진수
# %%: Literal % (문자 % 자체)

In [ ]:
# 문자열 % 뒤에 값(들)을 넣어줌
"제 이름은 %s이고, 나이는 %d살 입니다." % ("박성훈", 20)

In [ ]:
# 정렬과 공백
"===%10s===" % "PSH" # 오른쪽 정렬, 총 10칸 확보

In [ ]:
# 정렬과 공백
"===%-10s===" % "PSH" # 왼쪽 정렬, 총 10칸 확보

In [ ]:
# 소수점 표현
"%.2f" % 3.14159265358979  # 소수점 2자리까지만 표현

In [ ]:
# 소수점 표현
"===%10.2f===" % 3.14159265358979  # 소수자리 포함 총 10자리

In [ ]:
# format 함수 사용하기
# .format 내 값 나열, 앞쪽에 0번부터 위치 나열
print("이것은 {0}번째 레슨".format(1))
print("제 이름은 {0}이고, 나이는 {1}입니다".format("박성훈", 20))

In [ ]:
# format 함수 사용하기
# 인덱스 값 대신 이름 활용하기
print("제 이름은 {name}이고, 나이는 {age}입니다".format(name = "박성훈", age = 20))
print("제 이름은 {0}이고, 나이는 {age}입니다".format("박성훈", age = 20))
# print("제 이름은 {name}이고, 나이는 {1}입니다".format(name = "박성훈", 20))

In [70]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 왼쪽 정렬
"==={0:<10}===".format('HI')

'===HI        ==='

In [ ]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 오른쪽 정렬
"==={0:>10}===".format('HI')

In [ ]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 가운데 정렬
"==={0:^10}===".format('HI')

In [ ]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 왼쪽 정렬 + 공백 채우기
"==={0:@<10}===".format('HI')

In [ ]:
# format 함수 사용하기: 소수점
"==={0:0.4f}===".format(3.14159265358979)

In [ ]:
# format 함수 사용하기: 소수점
"==={0:10.4f}===".format(3.14159265358979)

In [ ]:
# f 문자열 포매팅: 3.6 이상부터 지원
name = "박성훈"
age = 20
f'제 이름은 {name}이고, 나이는 {age}입니다.'

In [ ]:
# f 문자열 포매팅
f'제 이름은 {name}이고, 나이는 {age + 99}입니다.'

In [ ]:
# f 문자열 포매팅: 자리 수 및 정렬
print(f'제 이름은 {name:<10}이고, 나이는 {age:>10}입니다.')
print(f'제 이름은 {name:=^10}이고, 나이는 {age:10.4f}입니다.')

### 문자열 함수

In [ ]:
# count: 문자열 내 해당 단어 숫자 세기
ex = "starbucks"
print("s: %d"%(ex.count('s')))
print("star: %d"%(ex.count('star')))

In [ ]:
# find: 문자열 내 해당 단어 첫 위치(index) 찾기
# 없으면 -1
ex = "starbucks"
print("s: %d"%(ex.find('s')))
print("z: %d"%(ex.find('z')))

In [ ]:
# index: 문자열 내 해당 단어 첫 위치(index) 찾기
# 없으면 Error
ex = "starbucks"
print("s: %d"%(ex.index('s')))
print("z: %d"%(ex.index('z')))

In [ ]:
# upper: 소문자를 대문자로 변경
ex = "startbucks"
print(ex.upper())

In [ ]:
# lower: 대문자를 소문자로 변경
ex = "STARBUCKS"
print(ex.lower())

In [ ]:
# lstrip: 왼쪽 공백 지우기
# rstrip: 오른쪽 공백 지우기
# strip: 양쪽 공백 지우기
ex = " abc "
print("[" + ex.lstrip() + "]")
print("[" + ex.rstrip() + "]")
print("[" + ex.strip() + "]")

In [72]:
# replace: 문자열 바꾸기
ex = "starbucks"
print(ex.replace('star', 'Moon'))

Moonbucks

In [3]:
# join: 문자열 각 사이에 해당 문자 삽입
print(" ".join("starbucks"))
print("/".join("starbucks"))
"".join(['1','2','3'])

s t a r b u c k s
s/t/a/r/b/u/c/k/s

'123'

In [ ]:
# split: 특정 문자 기준으로 나누기 => 나눈 결과는 List로 반환
ex = 's t a r b u c k s'
# 비어있으면 공백 기준으로 나눔
ex.split()

In [ ]:
# split: 특정 문자 기준으로 나누기 => 나눈 결과는 List로 반환
ex = 'noii@kkokiyo.app'
# 나눌 기준을 주면...
ex.split('@')

In [ ]:
# split: 특정 문자 기준으로 나누기 => 나눈 결과는 List로 반환
ex = 'abcdefg'
# 나눌 기준이 존재하지 않으면...
ex.split('z')

In [ ]:
# EOD.