### for 문 - 리터러블 
for [변수] in [리터러블(반복가능한객체-리스트, 튜플, 문자열)]:

In [ ]:
# 과일 리스트 출력하기
a = ['apple', 'banana', 'orange']
for f in a:
    print(f)

In [ ]:
# 문자열 접근
for c in "hello":
    print(c)

In [ ]:
# 리스트 내 튜플 처리
t = [(1,2),(3,4),(5,6)]
for (a,b) in t:
    print(a+b)

3
7
11

In [27]:
# DAN 구구단 출력
DAN = 6
index = [1,2,3,4,5,6,7,8,9]
for n in index:
    print(f"out:{DAN}*{n} = {DAN*n}")

out:6*1 = 6
out:6*2 = 12
out:6*3 = 18
out:6*4 = 24
out:6*5 = 30
out:6*6 = 36
out:6*7 = 42
out:6*8 = 48
out:6*9 = 54

### range 함수
숫자, 리스트를 자동으로 만들어주는 함수

In [28]:
r = range(5) # range(N): 0이상 N미만의 숫자 리스트
for i in r:
    print(i)

0
1
2
3
4

In [ ]:
r = range(1,5)
for i in r:
    print(i)

In [30]:
r = range(1,10,2)
for i in r:
    print(i)

1
3
5
7
9

In [31]:
a1 = range(5, -1, -1) # 내림차순
for i in a1:
    print(i)

5
4
3
2
1
0

In [32]:
# range 활용 : 과일 리스트 출력하기
a =['apple','banana','orange']
for i in range(len(a)):
    print(a[i])

apple
banana
orange

In [41]:
# 피보나치 수열
N = 10 # 10번째 피보나치 숫자는 무엇인가?
fibo = [1,1]
for i in range(2, N):
    fibo.append(fibo[i-2]+fibo[i-1])
print(fibo)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 다중 for문

In [1]:
# for문 내에서 또 for문을 활용하여 프로그래밍
# i loop 반복 수 j loop 반복 수 만큼 실행
for i in range(3):
    print(f"=== i = {i}")
    for j in range(5):
        print(f"j: {j}")

=== i = 0
j: 0
j: 1
j: 2
j: 3
j: 4
=== i = 1
j: 0
j: 1
j: 2
j: 3
j: 4
=== i = 2
j: 0
j: 1
j: 2
j: 3
j: 4

In [ ]:
# 다중 구구단 출력하기
dan = 5
for i in range(2, dan+1) :
    print(f"{i}단")
    for j in range(1, 10) :
        print(f"{i}*{j} = {i * j}")

2단
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3단
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4단
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5단
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45

### 별 찍기

In [ ]:
# 별찍기 : 정사각형 (다중 for문)
N = 5
for i in range(N):
    for j in range(N):
        print("*", end="")
    print("")

*****
*****
*****
*****
*****

In [ ]:
# 별찍기 : 정사각형 (단일 for문)
N = 5
for i in range(N):
    print("*" * N)

*****
*****
*****
*****
*****

In [ ]:
# 별찍기 : 역직각삼각형
N = 5
for i in range(N):
    for j in range(N-i):
        
        print("*", end="")
    print("")

*****
****
***
**
*

In [36]:
# 별찍기 : 직각삼각형
N = 5
for i in range(N):
    for j in range(i+1):
        
        print("*", end="")
    print("")

*
**
***
****
*****

In [37]:
for i in range(N, 0, -1):
    for j in range(i):
        print("*", end ="")
    print("")

*****
****
***
**
*

In [ ]:
# 별찍기 : 정삼각형
N = 5
for i in range(N):
    for j in range(N):