### 내장함수

In [1]:
# abs : 절대 값
print(abs(3))
print(abs(-3))

3
3

In [2]:
# chr : 유니코드 숫자 값을 받아 해당하는 문자로 반환

print(chr(97))
print(chr(44032))

a
가

In [4]:
# enumerate: 순서가 있는 데이터를 인덱스 값과 함께 나열
for i, name in enumerate(['kmy', 'asd', 'ksk']):
    print(f"{i}: {name}")

0: kmy
1: asd
2: ksk

In [3]:
# ord : 문자의 유니코드 숫자 반환
print(ord('a'))
print(ord('가'))

97
44032

In [ ]:
# *filter: 특정 조건에 만족하는 데이터만 가져오기

def positive(n):
    return n > 0 # 리턴 값이 true인 데이터만 꺼낸다.

print(list(filter(positive,[1,-3,2,-5,6])))
print(list(filter( lambda x:x > 2, [1,-3,2,-5,6])))

[1, 2, 6]
[6]

In [ ]:
# *map : 반복 가능한 데이터 각 요소에 특정 함수 동작한 결과값으로 대체
def two_times(x):
    return x * 2

print(list(map(two_times, [1,2,3,4])))
print(list(map(lambda x :x*2, [1,2,3,4])))

In [5]:
# id : 객체의 고유 주솟값 반환
a = 3
b = a
c = 4
print(id((a)))
print(id(b))
print(id(c))
print(id(3))
print(id(4))

4307705920
4307705920
4307705952
4307705920
4307705952